@import './animations.css';
@import './navigation.css';
@import './particles.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body{
    /*
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    */
    background-color: #0c0032;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
.header{

    margin-top: 5rem;
    font-size: 2.5rem;
}
.subheader{

    font-size: 2rem;
    margin: 1rem;
}
.paragraph{

    font-size: 1.5rem;
}
.link-to-projects{
    margin-top: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: auto;
}
.projects-button-img{
    max-height: 10rem;
    animation-name: play;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-duration: 0.9s;
}

@keyframes play{
    0%{
        transform: translateY(0px) ;
    }
    50%{
        transform: translateY(1.5rem) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}


@media (max-width:650px){
    .subheader{
        font-size: 1.5rem;
    }
      
}

.full{
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 4rem;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.grid-elem{
    background: black;
    min-height: 15rem;
    max-width: 90vw;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 0.5rem;
    position: relative;
    box-shadow: 0px 0px 5px 2px #190061;
}

.about-header,
.skills-header,
.projects-header{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 7px 7px 0px 0px;
}


.about,
.skills,
.projects{
    background:#000000;
    position: relative;
}

.about-paragraph,
.skills-paragraph,
.projects-paragraph{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    padding: 1rem;
}
.about-image,
.skills-image,
.projects-image{
    max-width: 10rem;
    min-width: 10rem;
    height: 10rem;
    margin: 1rem;
}

#projects .grid{
    grid-template-columns: repeat(2, 25rem);
}

.skills-image{
    /* filter: opacity(30%); */
    transition: all 0.5s;
}
.grid-elem:hover .skills-image{
    filter: none;
}



.projects-link{
    background: #00000000;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 5px 2px #190061;
}


@media (max-width:1370px){
    .grid{
        grid-template-columns: repeat(2, 25rem);
    }
      
}
@media (max-width:1100px){
    .skills-image{
        filter: none;
    } 
}


@media (max-width:450px){
    .grid{
        grid-template-columns: 18rem;
    }
    #projects .grid{
        grid-template-columns: 18rem;
    }
    .skills-image{
        filter: none;
    }      
}

footer{
    background: #190061;
    text-align: center;
}

.quote{
    color: white;
    font-size: 2rem;
    padding: 4.5rem;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    box-shadow: 0px 0px 5px 2px #190061;
    margin: 2rem;
    background-color: black;
}

.contact-image{
    max-width: 2rem;
    /* filter: grayscale(100%); */
    transition: all 0.5s;
}

.contact-info{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
}
.contact-image:hover{
    filter: none;
}

@media (max-width:850px){
    .grid{
        grid-template-columns: 25rem;
    }
    #projects .grid{
        grid-template-columns: 25rem;
    }
    .skills-image{
        filter: none;
    }
    .contact-image{
        filter: none;
    }
    .quote{
        font-size: 1.5rem;
        padding: 2rem;
    }
      
}

.flexible{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wider{
    width: 100%;
}